*{
    box-sizing: border-box;
}
body{
	font-family: 'Varela Round', sans-serif;
	overflow-y:auto;
	overflow-x:hidden;
	margin-bottom:3em;
}

/* modal styles */
.modal-login {
	width: 320px;
}
.modal-login .modal-content {
	border-radius: 1px;
	border: none;
}
.modal-login .modal-header {
	position: relative;
	justify-content: center;
	background: #f2f2f2;
}
.modal-login .modal-body {
	padding: 30px;
}
.modal-login .modal-footer {
	background: #f2f2f2;
}
.modal-login h4 {
	text-align: center;
	font-size: 26px;
}
.modal-login label {
	font-weight: normal;
	font-size: 13px;
}
.modal-login .form-control, .modal-login .btn {
	min-height: 38px;
	border-radius: 2px; 
}
.modal-login .hint-text {
	text-align: center;
}
.modal-login .close {
	position: absolute;
	top: 15px;
	right: 15px;
}
.modal-login .checkbox-inline {
	margin-top: 12px;
}
.modal-login input[type="checkbox"] {
	position: relative;
	top: 1px;
}
.modal-login .btn {
	min-width: 100px;
	background: #3498db;
	border: none;
	line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
	background: #248bd0;
}
.modal-login .hint-text a {
	color: #999;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}

#e-login-button{
    width: 100%;
}
.e-signup{
    width:4.2em !important;
    border-radius: 6px;
}
.e-small-button{
	width:2.2em !important;
    border-radius: 6px;
}
/* nav styles */
.e-nav{
	height: 10vh;
	top:0;
}
/* carousel styles */
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.e-carousel{
    margin-top: 0.10vh;
    margin-right: 10vw;
    margin-left: 10vw;
    height: 50vh;
}
.e-caption{
    padding-top: -80px;
}

/* card styles */
.e-card-deck{
	margin: 8em 8.7vw 8em 8.7vw;
}

/* seconf page styles*/
.main-section{
	width: 50%;
	margin: 0 auto;
}
.content{
	padding:20px;
	background-color: #fff;
}
.user-img{
	width:10%;
	float:left;
	margin-right: 20px;
}
.user-img img{
	width:100%;
	height:100%;
	border-radius: 50%;
	margin-top:-10px;
}
.user-detail p{
	font-size:17px;
	font-weight:600;
	letter-spacing:1.5px;
	margin:15px 0px 10px 0px; 
}
.user-detail span{
	color:#a2a2a2;
}
.comment-content{
	margin-top:10px;
}
.comment-box{
	margin-top:30px;
}
.count-btn,.enter-btn{
	float:left;
}
.btn{
	background-color: #fff;
	border:none;
	border:1px solid #c2c2c2;
	padding:10px 12px;
	border-radius:3px;
	margin-right: 10px;
}
.btn:hover{
	border:1px solid #000;
}
.comment-btn{
	margin-top: 30px;
}
.comment-btn input{
	width:80%;
	padding:10px;
}
.add-comment{
	padding: 20px;
	background-color:#F5F5F5;
	border-top:1px solid #d2d2d2;
	display: none;
}
.add-comment-img{
	width:10%;
}
.box .add-comment-img img{
	margin-right:10px;
	width:100%;
	float:left;
	height: 100%;
	border-radius: 50%; 	
}
.add-comment-text textarea{
	width:80%;
	font-family: 'Barlow Condensed', sans-serif;
	padding:10px;
	font-size:20px;
}
.post-comment-btn{
	background-color: #5CB85C;
	padding:8px;
	border:none;
	color:#fff;
	border-radius:3px;
	margin:10px 5px 0px 75px;
}
.cancel-btn{
	background-color: #fff;
	padding:8px;
	border:none;
	border:1px solid #d2d2d2;
	border-radius:3px;
}
.cancel-btn:hover{
	border:1px solid #000;
	cursor:pointer;
}
.example img{
	border-radius: 50%;
	margin-top:20px;
	width: 60px;
}
.comment-img img{
	float:right;
	margin-right:20px;
}
.comment p{
	margin-top:30px;
	display: inline-block;
}

.sub-comment .comment-img{
	float: left;
	width: 20%;
}

.sub-comment .comment{
	float: left;
	width: 80%;
}
/* footer styles */

#e-footer {
	position: fixed;
    height: 3em;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
       /* Height of the footer */
    background:rgb(204, 234, 247);
    text-align: center;
 }