<div>
<nav class="navbar navbar-expand-lg navbar-light bg-light e-nav">
    <a class="navbar-brand" href="#">DNews Net</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
	</button>
	<a href="/CommentPage">Temporary Link to cards</a>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
        <div class="nav-item nav-link" ><a href="#SignupModal" class="trigger-btn" data-toggle="modal"><button class="btn btn-primary">Signup</button></a></div>
		<div class="nav-item nav-link" ><a href="#LoginModal" class="trigger-btn" data-toggle="modal"><button class="btn btn-primary">Login</button></a></div>
	 </div>
	</div>
</nav>

<!-- Login Modal -->
<div id="LoginModal" class="modal fade">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<form action="/examples/actions/confirmation.php" method="post">
				<div class="modal-header">				
					<h4 class="modal-title">Login</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">				
					<div class="form-group">
						<label>Username</label>
						<input type="text" class="form-control" required="required">
					</div>
					<div class="form-group">
						<div class="clearfix">
							<label>Password</label>
						</div>
						<input type="password" class="form-control" required="required">
                     </div>
                   </div>
				<div class="modal-footer justify-content-between">
				   <input type="submit" class="btn btn-primary" value="Login" id="e-login-button">
				</div>
			</form>
		</div>
	</div>
</div>  

<!-- Signup Modal -->
<div id="SignupModal" class="modal fade">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<form action="/examples/actions/confirmation.php" method="post">
				<div class="modal-header">				
					<h4 class="modal-title">SignUp</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">				
					<div class="form-group">
						<label>Username</label>
						<input type="text" class="form-control" required="required">
					</div>
					<div class="form-group">
						<div class="clearfix">
							<label>Password</label>
						</div>
						<input type="password" class="form-control" required="required">
					 </div>
					 <div class="form-group">
						<div class="clearfix">
							<label>Confirm password</label>
						</div>
						<input type="password" class="form-control" required="required">
                     </div>
                   </div>
				<div class="modal-footer justify-content-between">
				   <input type="submit" class="btn btn-primary" value="SignUp" id="e-login-button">
				</div>
			</form>
		</div>
	</div>
</div>  
</div>
